<div class="ph2 ph3-l pv2 pv3-l bg-white black">

  <div class="flex flex-row flex-start flex-wrap">
    <div class="col1 w-100 w-50-m w-25-l ph1-m ph1-l">
      <h4 class="ma0 pa0">Need to make a claim?</h4>
      <ul class="list pl0">
        <li class="mt2 mt1-ns">Windscreen <a class="link" href="tel:0800 819 9320"><i class="fad fa-phone fa-rotate-90 mr1"></i> 0800 819 9320</a></li>
        <li class="mt2 mt1-ns">Motor <a class="link" href="tel:0345 618 8316"><i class="fad fa-phone fa-rotate-90 mr1"></i> 0345 618 8316</a></li>
        <li class="mt2 mt1-ns">Help <a class="link" href="tel:0800 819 9320"><i class="fad fa-phone fa-rotate-90 mr1"></i> 0800 819 9320</a></li>
      </ul>
    </div>
    <div class="col1 w-100 w-50-m w-25-l ph1-m ph1-l">
      <h4 class="ma0 pa0">About</h4>
      <ul class="list pl0">
        <li class="mt2 mt1-ns">
          <a class="link" href="https://www.chrisknott.co.uk/company.html">Our Team
            <i class="fad fa-external-link"></i>
          </a>
        </li>
        <li class="mt2 mt1-ns">
          <a class="link" href="https://www.chrisknott.co.uk/docs/terms_business.pdf">Terms of Service
            <i class="fad fa-external-link"></i>
          </a>
        </li>
        <li class="mt2 mt1-ns">
          <a class="link" href="https://www.chrisknott.co.uk/privacy.html">Privacy Policy
            <i class="fad fa-external-link"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="col1 w-100 w-100-m w-50-l ph1-m ph1-l">
      <p class="f6">
        Each policy returns a share of broker commission to support BRISKODA
      </p>
      <p class="f6">
        Chris Knott Insurance, 5th Floor, Cavendish House, Breeds Place, Hastings, East Sussex. TN34 3AA
      </p>
      <p class="f6">
        Registered as a company in England & Wales ( No. 2811031) Authorised and regulated by the Financial Conduct Authority (Reg No. 304452)
      </p>
      <p class="f6">
        The scheme covers most modifications, but exclusions do exist and vary. All makes and models are considered eligible. Drivers must be 19 years or older for TPF&T or Comprehensive Cover. Drivers of performance models must be 23 or over, with a minimum of 12months experince of driving similar performance cars - call us to discuss. All drivers must hold 1 years NCB. Quote subject to individual circumstances including restrictions/claims/convictions and location. The scheme does not cover Northern Ireland.
      </p>
      <p class="f6">
        BRISKODA:Insurance is administered by Chris Knott Insurance who is authorised and regulated by the Financial Conduct Authority.
      </p>
    </div>
    <div class="w-100 f6">
        <p>The scheme covers most modifications (excluding nitrous, roll cages and bhp increase of more than 100 over stock). All makes and models are considered eligible. Drivers must be aged over 19 for TPF&amp;T and Comprehensive. Drivers of performance models must be aged 23 or over (sometimes 25 - depending on overall risk profile) with a minimum of 12 months' experience of driving/insuring similar performance cars (sometimes 6 months is enough - call us). All drivers must have held a licence for at least 1 year and have at least 1 year's NCB.
          Quotes subject to individual circumstances including restrictions on claims/convictions (no more than 1 SP/PC/PL conviction per driver). Some postcodes require the car to be parked off the road overnight.</p>
      </div>
  </div>

</div>
