<div class="ph2 ph3-l pv3 pv4-l mt2 mt3-l bg-white black">
  <h3>
    Quality Cover at Affordable Rates
  </h3>

  <p>
    This service is to help you find the best insurance deal. This is more than cheap cover, it's good quality cover.
  </p>
  <p>
    Excellent rates on SKODA and other marques. Catering for multiple cars, standard and modified.
  </p>
  <p>
    We could not send you on the road without the right cover. We give you the assurance of a reputable claims service and broker backup if the worst should happen.
  </p>
  <p>
    We're here to provide all the assistance you need throughout the life of your policy.
  </p>
  <p>
    In the event of your car being written off, we can call on model specific experts from BRISKODA to help us fight your corner. Helping you to get your car back to the state it should be in. We're confident that's not too common.
  </p>
</div>
