<div class="ph2 ph3-l pv2 pv3-l bg-white black">

  <div class="flex flex-row flex-start flex-wrap">
    <div class="col1 w-100 w-50-m w-25-l ph1-m ph1-l">
      <h4 class="ma0 pa0">Need to make a claim?</h4>
      <ul class="list pl0">
        <li class="mt2 mt1-ns">Windscreen <a class="link" href="tel:0800 819 9320"><i
              class="fad fa-phone fa-rotate-90 mr1"></i> 0800 819 9320</a></li>
        <li class="mt2 mt1-ns">Motor <a class="link" href="tel:0345 618 8316"><i
              class="fad fa-phone fa-rotate-90 mr1"></i> 0345 618 8316</a></li>
        <li class="mt2 mt1-ns">Help <a class="link" href="tel:0800 819 9320"><i
              class="fad fa-phone fa-rotate-90 mr1"></i> 0800 819 9320</a></li>
      </ul>
    </div>
    <div class="col1 w-100 w-50-m w-25-l ph1-m ph1-l">
      <h4 class="ma0 pa0">About</h4>
      <ul class="list pl0">
        <li class="mt2 mt1-ns">
          <a class="link" href="https://www.chrisknott.co.uk/docs/terms_business.pdf">Terms of Service
            <i class="fad fa-external-link"></i>
          </a>
        </li>
        <li class="mt2 mt1-ns">
          <a class="link" href="https://www.chrisknott.co.uk/privacy.html">Privacy Policy
            <i class="fad fa-external-link"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="col1 w-100 w-100-m w-50-l ph1-m ph1-l">
      <p class="f6">
        Each policy returns a share of broker commission to support BRISKODA
      </p>
      <p class="f6">
        BRISKODA:Insurance is administered by Chris Knott Insurance who is authorised and regulated by the Financial
        Conduct Authority (Reg No. 304452). Registered as a company in England & Wales ( No. 2811031)
      </p>
      <p class="f6">
        Chris Knott Insurance, 5th Floor, Cavendish House, Breeds Place, Hastings, East Sussex. TN34 3AA
      </p>

    </div>
    <div class="w-100 f6">
      <p> The scheme covers most modifications, but exclusions do exist and vary. All makes and models are considered
        eligible. Drivers must be 22 years or older for TPF&T or Comprehensive Cover. Drivers of performance models must
        be 23 or over, with relevant experience of driving similar performance cars - call us to discuss. Minimum
        licence and NCB requirements exist and vary by insurer. Quote subject to individual circumstances including
        restrictions/claims/convictions and location. The scheme does not cover Northern Ireland.</p>
    </div>
  </div>

</div>
