<div class="ph2 ph3-l pv2 pv3-l bg-white black">
  <h3>
    Quality Cover at Affordable Rates
  </h3>

  <p>
    This service is to help you find the best insurance deal. This is more than cheap cover, it's good quality cover and
    therefore offers value for money.
  </p>


  <div class="flex flex-row  flex-wrap">
    <div class="flex flex-grow-1 w-100 mb2  w-100-m w-33-l pr1-l">
      <div class="ba br2 bg-white black flex flex-column">
        <div class="bg-light-green ma0 ph3 pv3 mt0">
          <i class="fad fa-car-crash fa-2x mr2"></i>
          <h2 class="ma0 pa0 dib">Car Insurance</h2>
        </div>
        <div class="ph1 ph2-m ph2-l flex-grow-1">
          <p>
            Competitive rates on SKODA and other marques covering standard, modified or classic cars. Multi-car
            discounts also available.
          </p>
          <p>
            We could not send you out on the road without the right cover. You have the assurance of a reputable claims
            service and broker backup if the worst should happen PLUS we can call on model-specific experts from
            BRISKODA to negotiate enhanced settlements where appropriate. We're confident that's not too common.
          </p>
          <p>
            We're here to provide all the assistance you need throughout the life of your policy.
          </p>
          <p>
            In the event of your car being written off, we can call on model specific experts from BRISKODA to help us
            fight your corner. Helping you to get your car back to the state it should be in. We're confident that's not
            too common.
          </p>
        </div>
        <a class="link tc ma2 pa3 db bg-animate bg-briskoda-green hover-bg-briskoda-green white f6 br1"
          href="tel:08008199320">
          <i class="fad fa-rotate-90 fa-phone fa-lg mr2"></i> Call For Insurance Quote
        </a>
      </div>
    </div>

    <div class="flex flex-grow-1 w-100 w-50-m w-33-l mb2 pr1-m pl1-l pr1-l">
      <div class="ba br2 bg-white black flex flex-column">
        <div class="bg-light-blue ma0 ph3 pv3 mt0">
          <i class="fad fa-money-check-edit fa-2x mr2"></i>
          <h2 class="ma0 pa0 dib">
            GAP Insurance
          </h2>
        </div>
        <div class="ph1 ph2-m ph2-l flex-grow-1">
          <p>
            Following a total-loss claim (write-off) our 5-Star Defaqto Return To Invoice/Finance GAP Insurance pays the
            difference between your motor insurer's settlement figure and either the vehicle's original purchase price
            or any outstanding finance amount (whichever is greater).
          </p>
          <p>
            To qualify for cover, you'll need to have purchased your car within the last 100 days and it must be under
            10 years old with fewer than 100,000 miles on the clock.
          </p>
          <p>RTI/Finance GAP starts at just £147 and we can cover vehicles valued upto £180,000.</p>
          <p>
            Don't take the dealer's cover until you've checked out ours - we'll probably save you £££s
          </p>
        </div>
        <a class="link tc ma2 pa3 db bg-animate bg-briskoda-green hover-bg-briskoda-green white f6 br1"
          href="tel:08008199320">
          <i class="fad fa-rotate-90 fa-phone fa-lg mr2"></i> Call For GAP Insurance
        </a>
      </div>
    </div>
    <div class="flex flex-grow-1 w-100 w-50-m w-33-l pl1-m mb2 pl1-l">
      <div class="ba br2 bg-white black flex flex-column">
        <div class="bg-light-yellow ma0 ph3 pv3 mt0 v-mid">
          <i class="fad fa-tire fa-2x mr2"></i>
          <h2 class="ma0 pa0 dib">
            Breakdown Cover
          </h2>
        </div>
        <div class="ph1 ph2-m ph2-l flex-grow-1">
          <p>
            UK Breakdown cover from £63, with cover for running out of fuel, flat batteries, lost/broken keys and
            accidental tyre damage included as standard.
            <span class="b">
              Extra discounts built-in for multi-car cover.
            </span>
          </p>
          </p>
          Good news : there are NO ‘age of vehicle’ limits.
          </p>
          <ul class="list">
            <li>HomeStart</li>
            <li>Roadside Assistance</li>
            <li>Recovery</li>
            <li>Onward Travel</li>
            <li>Overnight Stay</li>
            <li>24hr Hire Car</li>
            <li>Relief Driver</li>
            <li>Message Relay</li>
          </ul>
        </div>
        <a class="link tc ma2 pa3 db bg-animate bg-briskoda-green hover-bg-briskoda-green white f6 br1"
          href="tel:08008199320">
          <i class="fad fa-rotate-90 fa-phone fa-lg mr2"></i> Call For Breakdown Cover
        </a>
      </div>
    </div>
  </div>

  <div class="flex flex-row  flex-wrap">
    <div class="flex flex-grow-1 w-100 mb2  w-100-m w-33-l pr1-l order-1 order-0-l">
      <div class="ba br2 bg-white black">
        <h4 class="bg-light-gray ph3 pv3 mt0">Community Support</h4>
        <div class="ph1 ph2-m ph2-l">
          <p>
            Did you know that BRISKODA Insurance returns a share of its earnings from your policy to the club? This
            works to keep your membership fee low and contributes towards a number of the other community benefits you
            enjoy.
          </p>
          <p>
            So, if BRISKODA Insurance saves you money and you benefit from a better service by using a SKODA specialist,
            isn’t it worth the effort of switching? We think so!
          </p>
          <p>
            Does your current insurer give a share to the BRISKODA community? We suspect not!
          </p>
        </div>
      </div>
    </div>
    <div class="flex flex-grow-1 w-100 w-50-m w-33-l mb2 pl1-l pr1-l order-0 order-1-l">
      <div class="ba br2 bg-white black">
        <h4 class="bg-light-gray ph3 pv3 mt0">Need a Quote?</h4>
        <div class="ph1 ph2-m ph2-l">
          <p>It’s very easy, <a class="link" href="tel:0800 819 9320">
              call 0800 819 9320</a>
          </p>
          <p>
            Remember, we’re here for all your insurance needs. So, whether it’s for your car, home, or travel cover, all
            you need is BRISKODA Insurance - it is the right choice, afforded by your membership of the BRISKODA
            Community.
          </p>
          <p>
            To take advantage of this membership benefit you should call BRISKODA Insurance FREE on:
            <a class="link" href="tel:0800 819 9320">
              0800 819 9320</a> - find out how much you could SAVE
          </p>
        </div>
      </div>
    </div>
    <div class="flex flex-grow-1 w-100 w-50-m w-33-l mb2 pl1-l order-2 order-2-l">
      <div class="ba br2 bg-white black">
        <h4 class="bg-light-gray ph3 pv3 mt0">Broker Benefits</h4>
        <div class="ph1 ph2-m ph2-l">
          <p>At BRISKODA Insurance we promise that, in addition to any savings, you’ll receive all the advice, service
            and support you need.</p>
          <ul>
            <li>Specialist SKODA knowledge</li>
            <li>Trusted by the club for 15 years</li>
            <li>Personal service &amp; assistance from UK based staff</li>
            <li>Your needs properly assessed and met</li>
            <li>Sound, impartial insurance advice from qualified experts</li>
            <li>Choice of policies and insurers who sit under UK regulation</li>
            <li>Easy access by phone, email, forum or social media</li>
            <li>All the ongoing support and assistance you need</li>
            <li>Special scheme for car club/forum members</li>
            <li>Multi-car and loyalty rewards</li>
            <li>Option to use your own preferred repairer</li>
            <li>Recommend a Friend scheme</li>
            <li>Donation to BRISKODA for every policy sold</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
