<div class="ph2 ph3-l pv2 pv3-l bg-white black">
  <h3>
    Quality Cover at Affordable Rates
  </h3>

  <p>
    This service is to help you find the best insurance deal. This is more than cheap cover, it's good quality cover.
  </p>
  <p>
    Excellent rates on SKODA and other marques. Catering for multiple cars, standard and modified.
  </p>
  <p>
    We could not send you on the road without the right cover. We give you the assurance of a reputable claims service and broker backup if the worst should happen.
  </p>
  <p>
    We're here to provide all the assistance you need throughout the life of your policy.
  </p>
  <p>
    In the event of your car being written off, we can call on model specific experts from BRISKODA to help us fight your corner. Helping you to get your car back to the state it should be in. We're confident that's not too common.
  </p>

  <div class="flex flex-row  flex-wrap">
    <div class="flex flex-grow-1 w-100 w-33-m w-33-l">
      <div class="ba br2 bg-white black">
        <h4 class="bg-light-gray ph3 pv3 mt0">Community Support</h4>
        <div class="ph1 ph2-m ph2-l">
          <p>
            Did you know that BRISKODA Insurance returns a share of its earnings from your policy to the club?
            This works to keep your membership fee low and contributes towards a number of the other community benefits you enjoy.
          </p>
          <p>
            So, if BRISKODA Insurance saves you money and you benefit from a better service by using a SKODA specialist, isn’t it worth the effort of switching so that you and the community can seize the benefit? We think so!
          </p>
          <p>
            Does your current Insurer give a share to the community? We suspect not!
          </p>
        </div>
      </div>
    </div>

    <div class="flex flex-grow-1 w-100 w-33-m w-33-l ph1-m ph2-l">
      <div class="ba br2 bg-white black">
        <h4 class="bg-light-gray ph3 pv3 mt0">Need a Quote?</h4>
        <div class="ph1 ph2-m ph2-l">
          <p>It’s very easy, <a class="link" href="tel:0800 819 9320">
              Call 0800 819 9320</a>
          </p>
          <p>
            Remember, we’re here for all your insurance needs. So, whether it’s car, home, or travel, all you need is, BRISKODA Insurance, it is the right choice for you - afforded by your membership to BRISKODA Community.
          </p>
          <p>
            To take advantage of this membership benefit you should call BRISKODA Insurance FREE on:
            <a class="link" href="tel:0800 819 9320">
              0800 819 9320</a> - find out how much you could SAVE
          </p>
        </div>
      </div>
    </div>
    <div class="flex flex-grow-1 w-100  w-33-m w-33-l">
      <div class="ba br2 bg-white black">
        <h4 class="bg-light-gray ph3 pv3 mt0">Broker Benfits</h4>
        <div class="ph1 ph2-m ph2-l">
          <p>At BRISKODA Insurance we promise that, in addition to any savings, you’ll receive all the advice, service and support you need.</p>
          <ul>
            <li>Specialist SKODA knowledge</li>
            <li>Trusted by the club for 16 years</li>
            <li>Personal service &amp; assistance with claims</li>
            <li>Your needs put before all other considerations</li>
            <li>Only UK-based staff</li>
            <li>Totally independent advice</li>
            <li>All the support you need</li>
            <li>Loyalty discounts for existing clients</li>
            <li>Donation to BRISKODA for every policy sold</li>
          </ul>
        </div>
      </div>
    </div>
  </div>


</div>
